{% extends 'base.html.twig' %}


{% block title %}New Dessert{% endblock %}

{% block body %}
{% block FormPage %}
  <div id="container" class='crud-container d-grid justify-content-center' >

    <h1>Create new Dessert</h1>

    {{ include('/AdminTemplate/Crud/Plats/crud_dessert/_form.html.twig') }}

    <a href="{{ path('app_gestion_dessert') }}">back to list</a>
</div>
{% endblock %}
</div>
{% endblock %}

