{% extends 'base.html.twig' %}

{% block title %}Edit Horaires{% endblock %}

{% block body %}
  {% block FormPage %}
  <div id="container" class='crud-container d-grid justify-content-center' >
    <h1>Edit Horaires</h1>

    {{ include('/AdminTemplate/Crud/crud_horaires/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_gestion_administrateur') }}">back to list</a>

    {{ include('/AdminTemplate/Crud/crud_horaires/_delete_form.html.twig') }}
    </div>
{% endblock %}
</div>
{% endblock %}

