{% extends 'base.html.twig' %}


{% block Credits %}

 
        
        <div class='d-grid justify-content-center credits' >  
         <h1> Credits</h1>

         <h2>Je remercie :</h2>
            <ul>
              <li>le département d'Ille et Vilaine pour le soutient apporté</li>
              <li>l'organisme de formation STUDI , Mr Charvet</li> 
            </ul>
            

            <ul>
             <li>Mr Jean Charles Daguin, Responsable de la formation</li>
             <li>Mr Grégory Renuy</li>
             <li>Mr Maxime Rochedieu</li>
            
             <li>Et particulièrement Mr Ala Atrash pour ses indiquations salutaires.</li> 
             <li>Mr Nathan Delhore</li>
             <li>Mr Anthony Laplane </li> 
             <li>Mr Gaetan Role-Dubruille</li>
            </ul>

          <h2>Sites Ressources :</h2>                       
        <ul>
        <li>Symfony Framework : <a href='http://symfony.com'>lien symfony</a></li>
        <li>Icônes : <a href='https://www.fontawsome.com' alt='fontawsome'>Fontawsome</li>    
        <li>Photo des Plats : <a href=''></a></li>
        <li>Photos des vins : <a href='https://www.miamland.com/' alt='miamland.com'>Grossiste Miamland</a>  </li>

        </ul>
        </div> 


{% endblock %} 