{% extends 'base.html.twig' %}


{% block Gestion_Formules %}  
 

   
    <h2>Edition des Formules</h2>
   
    <div>
      {% include 'AdminTemplate/Crud/crud_formule/index.html.twig' %}
    </div>
    

   
{% endblock %} 