{% extends 'base.html.twig' %}


{% block Gestion_Menus_Formules %}  
  

     <div class="mt-5" >
      {% include '/AdminTemplate/Crud/crud_menu/index.html.twig' %}
    </div>

  
  
{% endblock %} 